<div class="prompt-wrapper">
  <form class="prompt-form" autocomplete="off" (submit)="onSend($event)">
    <h2 class="search-title">Was hast du Zuhause?</h2>
    <div class="prompt-container">
      <textarea
        #inputTextarea
        class="prompt-input"
        placeholder="Schreibe deine Zutaten hier..."
        rows="1"
        maxlength="4096"
      ></textarea>
      <button type="submit" class="prompt-send">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M3 12L21 3L12 21L11 13L3 12Z" fill="#111"/>
        </svg>
      </button>
    </div>
  </form>
</div>
